.FoodItem {
  width: 320px;
}

.FoodItem:not(:nth-child(3)) {
  margin-right: 80px;
}

a {
  text-decoration: none;
  border-bottom: 1px dashed #1698D9;
}

.cardBorder::before {
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  content: '';
  border-radius: 11px;
  background: linear-gradient(135deg, transparent 30px, #f2f2f2 0) top left;
}

.cardBorder {
  position: relative;
  width: 320px;
  height: 480px;
  border-radius: 14px;
  background: linear-gradient(135deg,transparent 32px,#1698d9 0),0 0,no-repeat
}

.bottomText {
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}
