@font-face {
  font-family: 'Exo2.0-Thin';
  src: url('./fonts/Exo2.0-Thin.otf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Exo2.0-Thin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./images/Pattern.png') repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
