.wrapper{
  width:1120px;
  height:577px;
  background-color: red;
  margin: 0 auto;
  transform: translateY(calc(50vh - (577px / 2)));
}

.header {
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 1px 1px #000000;
}

.foodList {
  display: flex;
}